* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0a8f593;
}

#header-back,
#footer-back {
    background-color: #fff;
}

#header-back,
.presentation_header,
nav,
ul,
li,
#footer-back,
.container_information {
    display: flex;
}

.logo img {
    width: 30%;
}
.presentation_header {
    justify-content: space-between;
    width: 100%;
}

nav {
    width: 100%;

}

ul {
    width: 100%;
    list-style: none;
    justify-content: space-between;
    margin-right: 10%;

}

li {
    align-items: flex-end;
}

li>a {
    text-decoration: none;
    font-size: 20px;
}
li>a:hover{
    color: #0f0;
}
h1{
    text-align: center;
    margin: 2%;
}
.wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.wrap2 {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

footer {
    height: 20vh;

}

.container_information {
    flex-direction: column;
    margin: 15px;
}

.container_information>p {
    margin-bottom: 10px;
    font-weight: 800;
}

.container_information>a {
    text-decoration: none;
    margin-bottom: 2%;
}

table {
    width: 100%;
    margin:2%, 2%, 0% ,2%;
    border: black, 3 ,ridge;
}

.listrow {
height: 30px;
    text-align: center;
    border: #000, solid, 3px;
}

.listrow>a {
    text-decoration: none;
    color: #000;
}

.listrow>a:hover {
    color: rgb(16, 207, 86);
}
button{
    margin-top: 3%;
    margin-left: 2%; 
    padding: 5px;
}
button>a{
    text-decoration: none;   
}