* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c779e493;
}

header,
footer {
    background-color: #fff;
}

header,
.presentation_header,
nav,
nav>ul,
nav>ul>li,
footer,
.container_information {
    display: flex;
}

.logo img {
    width: 30%;
}

h1 {
    margin: 10px 0px 10px 0px;
}

.presentation_header {
    justify-content: space-between;
    width: 100%;
}

nav {
    width: 100%;

}

nav>ul {
    width: 100%;
    list-style: none;
    justify-content: space-between;
    margin-right: 10%;

}

nav>ul>li {
    align-items: flex-end;
}

nav>ul>li>a {
    text-decoration: none;
    font-size: 20px;



}

.wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.wrap2 {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

#articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    row-gap: 2em;
    background-color: #e8d7f4;
    ;
    color: #2f2c32;
}

.article {
    height: 10%;
    text-align: center;
    margin: 5%;
}

.article>h2 {
    margin-bottom: 2%;
}

footer {
    height: 20vh;

}

.container_information {
    flex-direction: column;
    margin: 15px;
}

.container_information>p {
    margin-bottom: 10px;
    font-weight: 800;
}

.container_information>a {
    text-decoration: none;
    margin-bottom: 2%;
}